<h1>Brayden Green</h1>
<h2>Education</h2>
<% @education.each do |i| %>
<ul>
  <li>School Name: <%= i.school_name %></li>
  <li>Start Date: <%= i.start_date %></li>
  <li>End Date: <%= i.end_date %></li>
  <li>Liked? <%= i.liked %></li>
  </ul>
 <% end %>
